<ion-header translucent>
    <ion-toolbar>
      <ion-title>Empresas en el punto</ion-title>
      <ion-buttons slot="end">       
        <ion-button (click)="closeModal()">Cerrar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-item-group>
             
        <ion-list>
            <ion-item *ngFor="let item of info.puntos" routerDirection="forward" (click)="closeModal()" href="paginas/tabs/(home:resumen/{{item.values_.Empresa}}/{{item.values_.Contribuyente}}/{{item.values_.Aportacion}}/{{item.values_.Local}})" >
                <ion-label  *ngIf="item.values_.Tipo=='industria'">
                  <h2>{{item.values_.Denominacion}}</h2>
                  <h3>Contribuyente: {{item.values_.Contribuyente}}</h3> 
                  <p>Empresa: {{item.values_.Empresa}}</p> 
                  <p>Aportacion: {{item.values_.Aportacion}}</p> 
                  <p>Local: {{item.values_.Local}} <ion-icon style="float: right;" name="arrow-forward"  ></ion-icon></p>
                  
                </ion-label >

                <ion-label  *ngIf="item.values_.Tipo=='obra'"  routerDirection="forward" (click)="closeModal()" href="paginas/tabs/(home:resumen/{{item.values_.Empresa}}/{{item.values_.Contribuyente}}/{{item.values_.Aportacion}}/{{item.values_.Local}})">
                    <h2>{{item.values_.Denominacion}}</h2>
                    <h3>Contribuyente: {{item.values_.Contribuyente}}</h3> 
                    <p>Empresa: {{item.values_.Empresa}}</p> 
                    <p>Aportacion: {{item.values_.Aportacion}} <ion-icon style="float: right;" name="arrow-forward"  ></ion-icon></p>                     
                </ion-label >
  

            </ion-item>
        </ion-list>
    </ion-item-group>

  </ion-content>