<div id="map"></div>

<div #popup>
    <app-overlay-message
            [puntoMensaje]='puntoOverlayMensaje'
            (eventoCerrarPopUp)="cerrarPopUp($event)"
    ></app-overlay-message>
</div>

<div #popupAcciones>
    <pop-up-opciones
            (eventoCerrarPopUp)="cerrarPopUpAcciones($event)"
    ></pop-up-opciones>
</div>

<div class="ubicacion-icono-google" [ngClass]="{'displayNone': !this.showLayersSelector}">
    <ion-icon
            name="logo-buffer"
            color="light"
            class="iconoUbicacion"
            (click)="mostrarMenu()"
    ></ion-icon>
</div>

<div id="ubicacion" [ngClass]="{'ubicacion': !checkLocalizar, 'ubicacionSeleccionado': checkLocalizar, 'displayNone': !this.showUserLocationButton}">
    <ion-icon
            name="locate"
            color="light"
            class="iconoUbicacion"
            (click)="centrarEnUbicacion()"
    ></ion-icon>
</div>
