<uruguay-mapa
        [centerCoordinates]="{latitude: -34.918195, longitude: -56.166603}"
        [centerInDeviceLocation]="true"
        [customLayers]="this.customLayers"
        [initialZoom]="17"
        [showDeviceLocation]="true"
        [showLayerElCorreo]="true"
        [showLayerIDEUY]="true"
        [showLayerGoogleMaps]="true"
        [showLayerOSM]="true"
        [showLayerPadrones]="true"
        [showLayerRoutes]="true"
        [showLayersSelector]="true"
        [showScaleLine]="true"
        [showUserLocationButton]="true"
        [showZoom]="true"
        [showZoomSlider]="true"
></uruguay-mapa>
